.scoreBoard {
    margin: 30px auto;
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    min-width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.scoreBoard > div:first-child {
    width: 30%;
    min-width: 125px;
    position: relative;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--Score-Text);
}

.score span {
    font-weight: 700;
    font-size: 60px;
    color: var(--Dark-Text);
}

.initial, .bonusInitial {
    width: 380px;
    height: 320px;
    position: relative;
    margin: 110px auto;
}

.bonusInitial{
    width: 400px;
    height: 360px;
}

.initial > img, .bonusInitial > img{
    z-index: -1;
}


.gameChar {
    width: fit-content;
    padding: 55px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}

.empty {
    background-color: hsl(237, 49%, 15%);
    padding: 80px;
    border-radius: 50%;
    width: fit-content;
    margin: auto;
}

.initial .gameChar, .bonusInitial .gameChar {
    padding: 30px;
    position: absolute;
}

.initial div[id="scissors"] {
    top: -40px;
    right: -40px;
}

.initial div[id="rock"] {
    bottom: -40px;
    right: 35%;
}

.initial div[id="paper"] {
    top: -40px;
    left: -40px;
}

.bonusInitial div[id="scissors"] {
    top: -50px;
    right: 35%;
}

.bonusInitial div[id="rock"] {
    bottom: -40px;
    right: 0%;
}
.bonusInitial div[id="paper"] {
    top: 20%;
    right: -50px;
}

.initial div[id="rock"], .bonusInitial div[id="rock"] {
    background: radial-gradient(
        white 40px, 
        hsl(349, 71%, 52%) 10px,
        hsl(349, 70%, 56%) 10px
    );
}
.initial div[id="scissors"], .bonusInitial div[id="scissors"] {
    background: radial-gradient(
        white 40px, 
        hsl(39, 89%, 49%) 10px, 
        hsl(40, 84%, 53%) 10px
    );

}
.initial div[id="paper"], .bonusInitial div[id="paper"] {
    background: radial-gradient(
        white 40px,
        hsl(230, 89%, 62%) 10px, 
        hsl(230, 89%, 65%) 10px
    );

}


.bonusInitial div[id="spock"] {
    top: 20%;
    left: -50px;
    background: radial-gradient(
        white 40px,
        hsl(189, 59%, 53%) 10px, 
        hsl(189, 58%, 57%) 10px
    );
}
.bonusInitial div[id="lizard"] {
    bottom: -40px;
    left: 0%;
    background: radial-gradient(
        white 40px,
        hsl(261, 73%, 60%) 10px, 
        hsl(261, 72%, 63%) 10px
    );
}

.second div[id="rock"], .final div[id="rock"] {
    background: radial-gradient(
        white 55px, 
        hsl(349, 71%, 52%) 5px,
        hsl(349, 70%, 56%) 10px
    );
}


.second div[id="scissors"], .final div[id="scissors"] {
    background: radial-gradient(
        white 55px, 
        hsl(39, 89%, 49%) 5px, 
        hsl(40, 84%, 53%) 10px
    );

}
.second div[id="paper"], .final div[id="paper"] {
    background: radial-gradient(
        white 55px,
        hsl(230, 89%, 62%) 5px, 
        hsl(230, 89%, 65%) 10px
    );

}

.second div[id="spock"],  .final div[id="spock"]{
    background: radial-gradient(
        white 55px,
        hsl(189, 59%, 53%) 5px, 
        hsl(189, 58%, 57%) 10px
    );
}
.final div[id="lizard"], .second div[id="lizard"] {
    background: radial-gradient(
        white 55px,
        hsl(261, 73%, 60%) 5px, 
        hsl(261, 72%, 63%) 10px
    );
}

.second, .final {
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
}

.second {
    width: 80%;
    max-width: 550px;
}

.final {
    width: 100%;
    max-width: 725px;
    align-items: center;
}
.final > div:not(#outcome), .second > div {
    width: 220px;
    height: 270px;
}

.second p, .final p {
    text-align: center;
    margin-bottom: 30px;
}
.second p, .final p {
    text-align: center;
    margin-bottom: 30px;
}

#outcome {
    margin: auto 8px;
}
#outcome > p{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

#outcome button {
    font-size: 17px;
    padding: 15px 55px;
}

.wrapper {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper > div {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

#heading{
    margin: 5px 10px 15px;
    font-weight: 700;
    padding-bottom: 5px;
}

#reactIcon{
    float: right;
    font-size: 25px;
}

#reactIcon:hover {
    cursor: pointer;
}

#imgDiv {
    width: 260px;
    height: 250px;
    position: relative;
}

.hidden {
    display: none;
}

.rulesBtn {
    right: 30px;
}

.modeBtn {
    left: 30px;
}

.optionsBtn {
    display: none;
}

.mode {
    position: absolute;
    left: 50px;
    bottom: 80px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;

}

.mode input:hover, .mode label:hover{
    cursor: pointer;
}

.mode *{
    padding: 5px 8px;
    vertical-align: middle;
}


@media (min-width: 390px) and (max-width: 520px) {
    .scoreBoard {
        width: 90%;
        min-width: 310px;
    }

    .initial, .bonusInitial {
        width: 75%;
    }
    .second, .final {
        width: 95%;
        margin: 100px auto;
    }

    .final > div:not(#outcome), .second > div{
        display: flex;
        flex-direction: column-reverse;

    }

    .second  p,
    .final  p{
        margin-bottom: 0;
    }

    .final > div:first-child p,
    .second > div:first-child p{
        margin-top: 30px;
    }

    #outcome {
        position: absolute;
        right: 22%;
        bottom: 20%;
    }
    
    .optionsBtn {
        display: block;
        right: 40%;
        padding: 10px 25px;
    }

    .modeBtn, .rulesBtn {
        display: none;
    }

    .menu {
        position: absolute;
        bottom: 80px;
        right: 28%;
        background-color: white;
        width: 160px;
        border-radius: 5px;
    }

    .menuBtns {
        display: block;
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

    .mode {
        left: 20px;
        width: 110px;
    }

}

@media (max-width: 390px) {
    .initial, .bonusInitial {
        width: 70%;
        height: 260px;
    }

    .second, .final {
        width: 100%;
        margin: 100px auto;
    }

    .initial div[id="rock"] {
        right: 25%;
    }

    .scoreBoard {
        width: 90%;
        min-width: 310px;
    }

    .final > div:not(#outcome), .second > div{
        display: flex;
        flex-direction: column-reverse;
    }

    .second  p,
    .final  p{
        margin-bottom: 0;
    }

    .final > div:first-child p,
    .second > div:first-child p{
        margin-top: 30px;
    }

    #outcome {
        position: absolute;
        right: 22%;
        bottom: 20%;
    }
    
    .optionsBtn {
        display: block;
        right: 40%;
        padding: 10px 25px;
    }

    .modeBtn, .rulesBtn {
        display: none;
    }

    .menu {
        position: absolute;
        bottom: 80px;
        right: 28%;
        background-color: white;
        width: 160px;
        border-radius: 5px;
    }

    .menuBtns {
        display: block;
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

    .mode {
        left: 20px;
        width: 110px;
    }
}

